# Importar Pandas

In [1]:
#importa pandas
import pandas as pd

# Crear una Serie

In [26]:
# Crea una Serie de los numeros 10, 20 and 10.
import pandas as pd
df1 = pd.Series([10,20,10])
print (df1)

0    10
1    20
2    10
dtype: int64

In [27]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'

import pandas as pd
df2 = pd.Series(['rojo','verde','azul'])
print (df2)

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [20]:
# Crea un dataframe vacío llamado 'df'
import pandas as df
df=pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [28]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
import pandas as df
df=pd.DataFrame(df1)
print (df)

    0
0  10
1  20
2  10

In [29]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
import pandas as df
df=pd.DataFrame(df2)
print (df)

       0
0   rojo
1  verde
2   azul

# Leer un dataframe

In [48]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"
import pandas as pd
avengers=pd.read_csv('data/pandas/avengers.csv')
print (avengers)

                                                   URL  \
0        http://marvel.wikia.com/Henry_Pym_(Earth-616)
1    http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2    http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3    http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4     http://marvel.wikia.com/Thor_Odinson_(Earth-616)
..                                                 ...
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#
172         http://marvel.wikia.com/Kaluu_(Earth-616)#

                          nombre  n_apariciones actual  genero  fecha_inicio  \
0      Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1                 Janet van Dyne           1165    YES  FEMALE          1963
2    Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3            Robert Bruce Banner           2089    YES    MALE          1963
4                   Thor Odinson           2402    YES    MALE          1963
..                           ...            ...    ...     ...           ...
168                  Eric Brooks            198    YES    MALE          2013
169                Adam Brashear             29    YES    MALE          2014
170               Victor Alvarez             45    YES    MALE          2014
171                    Ava Ayala             49    YES  FEMALE          2014
172                        Kaluu             35    YES    MALE          2015

                                                 Notes
0    Merged with Ultron in Rage of Ultron Vol. 1. A...
1    Dies in Secret Invasion V1:I8. Actually was se...
2    Death: "Later while under the influence of Imm...
3    Dies in Ghosts of the Future arc. However "he ...
4    Dies in Fear Itself brought back because that'...
..                                                 ...
168                                                NaN
169                                                NaN
170                                                NaN
171                                                NaN
172                                                NaN

[173 rows x 7 columns]

# Inspeccionar un dataframe

In [51]:
# Muestra las primeras 5 filas del DataFrame.

print(avengers[0:5])

                                                 URL  \
0      http://marvel.wikia.com/Henry_Pym_(Earth-616)
1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)

                        nombre  n_apariciones actual  genero  fecha_inicio  \
0    Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1               Janet van Dyne           1165    YES  FEMALE          1963
2  Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3          Robert Bruce Banner           2089    YES    MALE          1963
4                 Thor Odinson           2402    YES    MALE          1963

                                               Notes
0  Merged with Ultron in Rage of Ultron Vol. 1. A...
1  Dies in Secret Invasion V1:I8. Actually was se...
2  Death: "Later while under the influence of Imm...
3  Dies in Ghosts of the Future arc. However "he ...
4  Dies in Fear Itself brought back because that'...

In [54]:
# Muestra las primeras 10 filas del DataFrame. 
print(avengers[0:10])

                                                 URL  \
0      http://marvel.wikia.com/Henry_Pym_(Earth-616)
1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...
2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)
3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...
4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)
5  http://marvel.wikia.com/Richard_Jones_(Earth-616)
6  http://marvel.wikia.com/Steven_Rogers_(Earth-616)
7   http://marvel.wikia.com/Clint_Barton_(Earth-616)
8  http://marvel.wikia.com/Pietro_Maximoff_(Earth...
9  http://marvel.wikia.com/Wanda_Maximoff_(Earth-...

                        nombre  n_apariciones actual  genero  fecha_inicio  \
0    Henry Jonathan "Hank" Pym           1269    YES    MALE          1963
1               Janet van Dyne           1165    YES  FEMALE          1963
2  Anthony Edward "Tony" Stark           3068    YES    MALE          1963
3          Robert Bruce Banner           2089    YES    MALE          1963
4                 Thor Odinson           2402    YES    MALE          1963
5       Richard Milhouse Jones            612    YES    MALE          1963
6                Steven Rogers           3458    YES    MALE          1964
7       Clinton Francis Barton           1456    YES    MALE          1965
8              Pietro Maximoff            769    YES    MALE          1965
9               Wanda Maximoff           1214    YES  FEMALE          1965

                                               Notes
0  Merged with Ultron in Rage of Ultron Vol. 1. A...
1  Dies in Secret Invasion V1:I8. Actually was se...
2  Death: "Later while under the influence of Imm...
3  Dies in Ghosts of the Future arc. However "he ...
4  Dies in Fear Itself brought back because that'...
5                                                NaN
6    Dies at the end of Civil War. Later comes back.
7  Dies in exploding Kree ship in Averngers Vol. ...
8  Dies in House of M Vol 1 Issue 7. Later comes ...
9  Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [61]:
# Muestra las últimas 5 filas del DataFrame.
print(avengers[-5::])

                                                   URL          nombre  \
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#     Eric Brooks
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...   Adam Brashear
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...  Victor Alvarez
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#       Ava Ayala
172         http://marvel.wikia.com/Kaluu_(Earth-616)#           Kaluu

     n_apariciones actual  genero  fecha_inicio Notes
168            198    YES    MALE          2013   NaN
169             29    YES    MALE          2014   NaN
170             45    YES    MALE          2014   NaN
171             49    YES  FEMALE          2014   NaN
172             35    YES    MALE          2015   NaN

# Tamaño del DataFrame

In [70]:
# Muestra el tamaño del DataFrame
print(avengers.size)

1211

# Data types en un DataFrame

In [75]:
# Muestra los data types del dataframe
print(avengers.dtypes)

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

# Editar el indice (index)

In [84]:
# Cambia el indice a la columna "fecha_inicio".

avenger.index('fecha_inicio')='otro_nombre'

SyntaxError: cannot assign to function call (<ipython-input-84-cd4a1901aa9b>, line 3)

# Ordenar el indice

In [80]:
# Ordena el índice de forma descendiente
print(avengers.index)

RangeIndex(start=0, stop=173, step=1)

# Resetear el indice

In [82]:
# Resetea el índice

print(avengers.indexreset)

AttributeError: 'DataFrame' object has no attribute 'indexreset'